body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f5f5f5;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #6c757d6e;
}

.container-bar {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mb-4 {
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #6c757d6e;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#listaMedicamentos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.medicamento-card {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.medicamento-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.medicamento-card p {
    margin: 5px 0;
}


.form-itens-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 40px;
}
input::placeholder {
    color: #6c757d; /* cor do placeholder */
    opacity: 1; /* Opacidade total */
}

input:-ms-input-placeholder {
    color: #6c757d; /* cor do placeholder no IE */
}

input::-ms-input-placeholder {
    color: #6c757d; /* cor do placeholder no Edge */
}


/* Estilo para .button-login */
.button-login {
    display:flex;
    align-items: center;

}

.button-login a {
    display: flex;
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 14px; 
    color: #333; 
    background-color: #f8f9fa; 
    padding: 5px 10px; 
    border-radius: 5px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    
}

.medicamento-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medicamento-card p {
    margin: 0;
}

.medicamento-card button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.medicamento-card button:hover {
    background-color: darkred;
}

/* Estilo para o Footer */
footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-top: 1px solid #6c757d6e;
    color: #333;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h5 {
    color: #333;
    margin-bottom: 15px;
    font-size: 16px;
}

footer p, footer ul, footer a {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-decoration: none;
}

footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .bg-secondary {
    background-color: #e0e0e0;
}

footer .text-center {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
}
