body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#listaMedicamentos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.medicamento-card {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.medicamento-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.medicamento-card p {
    margin: 5px 0;
}

.bg-color {
    background-color: aquamarine !important;
}

.form-itens-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 40px;
input::placeholder {
    color: #6c757d; /* cor do placeholder */
    opacity: 1; /* Opacidade total */
}

input:-ms-input-placeholder {
    color: #6c757d; /* cor do placeholder no IE */
}

input::-ms-input-placeholder {
    color: #6c757d; /* cor do placeholder no Edge */
}


/* Estilo para .user-info */
.user-info {
    position: absolute; /* Para posicionar no canto superior direito */
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    right: 20px; /* Ajuste a posição horizontal conforme necessário */
    font-size: 14px; /* Tamanho da fonte para o texto */
    color: #333; /* Cor do texto */
    background-color: #f8f9fa; /* Cor de fundo, pode ser removido se não necessário */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.user-info span {
    font-weight: bold; /* Deixa o texto em negrito */
}
